.reviews {
    display: flex;
    gap: 15px;
    margin: 80px 0;
}

.swiper {
    height: 250px;
    padding: 20px;
}

.swiperSlide {
    cursor: pointer;
    height: max-content;
    border-radius: 15px;
}

.swiper_BP {
    display: none;
}

@media screen and (max-width: 770px) {
    .swiper {
        display: none;
    }
    .swiper_BP {
        display: block;
        padding: 15px;
    }
}