.skill {
    background: linear-gradient(90deg, rgba(64,72,117,1) 21%, rgba(59,51,53,1) 80%);
    color: white;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    box-shadow: 0 0 15px blue;
}