.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 1600px;
  position: relative;
}

.swiper-slide-next {
  background: linear-gradient(90deg, rgba(49, 69, 160, 1) 21%, rgba(66, 56, 188, 1) 41%, rgba(85, 55, 160, 1) 80%);
  color: white;
}

.swiper-slide {
  background-color: rgb(178, 56, 231);
}


.entered {
  animation: rotate_image 8s infinite linear;
}



.page {
  position: absolute;
}

.page-enter-active {
  animation: fade-in 1s forwards;
}
.page-exit-active {
  animation: fade-out 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  50% {
    opacity: 0.8;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400px);
    opacity: 0;
  }
}


