.header {
  display: flex;
  background-color: rgba(23, 23, 24, 1);
  height: 64px;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  border-bottom: 1px solid #26292d;
}

.logo {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}



.container {
  display: flex;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  text-decoration: underline rgb(98, 98, 238);
}

.link:hover {
  color: #5c5f61;
}

.navbar_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.navbar_right_links {
  display: flex;
  align-items: center;
  gap: 15px;
}


.authorisations {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
}


.authorisations_register, .authorisations_login, .authorisations_loguot {
  font-size: 25px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: .5s;
}

.authorisations_register:hover, .authorisations_login:hover, .authorisations_loguot:hover {
  color: #5c5f61;
}

.navbar {
  height: 50px;
  width: 50px;
  background-color: inherit;
  position: absolute;
  top: 10px;
  right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  box-shadow: none;
  transition: 0.3s;
}

.navbar_menu {
  position: absolute;
  z-index: 50;
  right: 17px;
  top: 57px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: white;
  padding: 20px;
  width: 50%;
  height: 129vh;
  box-sizing: border-box;
  background: rgb(71, 75, 96);
  background: linear-gradient(90deg, rgba(71, 75, 96, 1) 0%, rgba(57, 31, 36, 1) 100%);
  transform: translateX(150%);
  transition: 1s;
}


.navbar_link .activeLink {
  color: rgb(120, 201, 228);
}

.activeLink {
  text-decoration: none;
}

.navlink {
  color: white;
  text-decoration: underline;
}

.burgerBtn {
  width: 35px;
  height: 25px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.active {
  transform: translateX(0%);
  display: flex;
  transition: 1s;
}

.activeLink {
  color: white;
}

.span {
  width: 35px;
  height: 0px;
  border: 1.6px solid white;
}

@media screen and (max-width: 920px) {
  .link {
    display: none;
  }

  .navbar {
    display: flex;
  }
}


@media screen and (max-width: 770px) {
  .logo {
    font-size: 25px;
  }
}