.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 1600px;
}

.swiper-slide-active {
  background: linear-gradient(90deg, rgba(49, 69, 160, 1) 21%, rgba(66, 56, 188, 1) 41%, rgba(85, 55, 160, 1) 80%);
  color: white;
}

.swiper-slide-prev,
.swiper-slide-next {
  background-color: rgb(178, 56, 231);
}


