.info {
    width: 100%;
    height: 720px;
    padding: 34px 0;
    background-color: rgba(23, 23, 24, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    position: absolute;
    background-position: cover;
}


.infoTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}


.title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    text-align: center;
    /* letter-spacing: -0.5px; */
    color: #fafafa;

    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
      background-position: -200%;
    }
  }

.button_animate {
    z-index: 999;
    background-color: inherit;
    color: white;
    box-shadow: 0 0 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: .5s;
}

.button_animate:hover {
    background-color: white;
    color: black;
}

.subtitle {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #fafafa;
    text-transform: uppercase;
    background: #191c58;
    display: table;
    margin: 20px auto;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

@media screen and (max-width: 770px) {
    .title {
        font-size: 45px;
    }

    .image {
        max-width: 450px;
    }
}

@media screen and (max-width: 450px) {
    .subtitle {
        font-size: 25px;
    }

    .image {
        max-width: 300px;
    }
}
